html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}
.BaseBlock{

  position:absolute;
  width:100%; 
  height:100%; 
  overflow: hidden;
  flex-wrap: nowrap;
  display: flex;
}

.blockRow  {
  width: 100%; height: 100%;
   -moz-border-radius: 25px;
   -webkit-border-radius: 25px;
   border-radius: 25px; 
    /* We first create a flex layout context */
    display: flex;
     /* Then we define the flow direction 
       and if we allow the items to wrap 
     * Remember this is the same as:
     * flex-direction: row;
     * flex-wrap: wrap;
     */
    flex-flow: row wrap;
    flex: 1;
    flex-wrap:nowrap ;
    /* Then we define how is distributed the remaining space */
    justify-content: space-around;
    
    padding: 0;
    margin: 0;
    
    width: 50%;
    height: 50%;
    list-style: none;
    
  }

  .blockColumn  {
    width: 100%; height: 100%;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px; 
     /* We first create a flex layout context */
     display: flex;
 /* Then we define the flow direction 
        and if we allow the items to wrap 
      * Remember this is the same as:
      * flex-direction: row;
      * flex-wrap: wrap;
      */
     flex-flow: column wrap;
     flex: 1;
     flex-wrap:wrap-reverse;
     /* Then we define how is distributed the remaining space */
     justify-content: space-around;
     
     padding: 0;
     margin: 0;
     
     list-style: none;
     
   }

   .blockRow:hover{
    
    z-index: 100;
      background: black;
      animation: flexanimation 1s forwards ; 
    }
    .blockColumn:hover{
      z-index: 100;
        background: black;
        animation: flexanimation 1s forwards ; 
      }
   
body{width: 100%; 
  height: 100%;
}

p{
  align-self: center;
  padding: 5%;
  font-family: fantasy;
  color: rgb(255, 255, 255);
}


@keyframes flexanimation { 
  to { 
    flex: 2; 
  }
}

/*

@keyframes scale {
0% {}
100% {transform: scale(1.5)}
}

@-webkit-keyframes scale {
0% {}
100% {-webkit-transform: scale(1.5)}
}

@-moz-keyframes scale {
0% {}
100% {-moz-transform: scale(1.5)}
}

@-ms-keyframes scale {
0% {}
100% {-ms-transform: scale(1.5)}
}